extends layout

block content
  h1 GameRoom

  #container
    - if (accessKey)
      script(type='text/javascript' src='/public/javascripts/polyfill.min.js')
      script(type='text/javascript' src='/public/javascripts/bundle.2.js')
      //- script(type='text/javascript' src='http://localhost:8080/bundle.js')
    - else if (handle)
      #lobby
        p Welcome, #{handle}!
        div#stats
          div
            span Wins: 
            span= wins
          div
            span Losses: 
            span= losses
          div
            span Streak: 
            span= streak
          div
            span Longest streak: 
            span= longestStreak
          div
            span Games in progress: 
            span= gameCount
        div
          input(type='button' id='playbutton' value='Play')
          input(type='button' class='serious-button' id='leavebutton' value='Leave')
    - else
      #lobby
        input(type='text' id='playername' placeholder='Enter you name')
        input(type='button' id='registerbutton' value='Register')  
    
